{% extends 'base.html' %}
{% block app_content %}
    <form class="row" method="post">
        {{ form.csrf_token }}
        <div class="col-auto">
            <label for="email" class="visually-hidden">Email</label>
            {{ form.email(type="email", class="form-control", id="email", placeholder="email@example.com", focus=True) }}
        </div>
        <div class="col-auto">
            <label for="password" class="visually-hidden">password</label>
            {{ form.password(type="password", class="form-control", id="password") }}
        </div>
        <div class="col-auto">
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}