{% extends 'base.html' %}
{% block app_content %}
    <div class="mx-auto my-5 p-4 w-50 border border-2 rounded-3 bg-light shadow">
    <turbo-frame id="new_password_form">
        <form class="justify-content-center" method="post">
        {% from 'user_macro.html' import field_with_class with context %}
            {{ form.csrf_token }}
            <div class="mb-3">
                <label for="emailField" class="form-label">Email</label>
                {{ form.email(type="email", class="form-control", id="emailField") }}
            </div>
            {{ field_with_class(name='password', type='password') }}
            {{ field_with_class(name='password2', type='password', displayed_name='Repeat password') }}
            <div class="mb-3">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
        </form>
        </turbo-frame>
{#        {% for field in form.errors %}#}
{#            {% for error in form.errors[field] %}#}
{#                <div class="alert alert-danger" role="alert">{{ error }}</div>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
    </div>
{% endblock %}