{% extends 'base.html' %}
{% block app_content %}
    <div class="mx-auto my-5 p-4 w-50 border border-2 rounded-3 bg-light shadow">
        <form class="row justify-content-center" method="post" data-turbo="false">
            {{ form.csrf_token }}
            <div class="col-auto">
                <label for="email" class="visually-hidden">Email</label>
                {{ form.email(type="email", class="form-control", id="email", placeholder="email@example.com") }}
            </div>
            <div class="col-auto">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}