[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-mail = "*"
itsdangerous = "*"
flask-migrate = "*"
wtforms = {extras = ["email"], version = "*"}
turbo-flask = "*"
gunicorn = "*"
pymysql = "*"
werkzeug = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
