<nav class="navbar navbar-expand-md navbar-light fixed-bottom bg-light">
    <div class=" navbar-nav me-auto p-2">
    <span class="navbar-text">
        Created by <a class="nav-link" href="mailto:sikorskiy.alex.vn@gmail.com">sikorskiy.alex.vn@gmail.com</a>
    </span>
    </div>
    <div class="nav navbar-nav justify-content-end">
    <span class="navbar-text referral-badge">
        <a href="https://www.digitalocean.com/?refcode=9a2c78b3ac21&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
                alt="DigitalOcean Referral Badge"/></a>
    </span>
    </div>
</nav>