{% extends 'base_templates/base.html' %}
{% block app_content %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users</button>
    <button class="nav-link" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Posts</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
      <table class="table table-light table-hover">
      <thead>
            <th>First name</th>
            <th>Last name</th>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
        <table class="table table-light table-hover">
        <thead>
            <th>Title</th>
            <th>Author Id</th>
            <th>Author name</th>

        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.user_id}}</td>
                <td>{{post.author.first_name}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
