{% extends "base.html" %}
{% block app_content %}
    <div class="mx-auto my-5 p-4 w-50 border border-2 rounded-3 bg-light shadow">
            <form class="justify-content-center" method="post" enctype="multipart/form-data" data-turbo = "false">
            {% from 'user_macro.html' import field_with_class with context %}
                {{ form.csrf_token }}
                {{ field_with_class(name='title', type='text', displayed_name='Title') }}
                {{ field_with_class(name='body', type='textarea', displayed_name='Enter your post here.') }}
                {{ field_with_class(name='img',type="file", displayed_name='Select picture') }}
                <div class="mb-3">
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </div>
            </form>
    </div>
{% endblock %}
