{% macro field_with_class(name, type=None, displayed_name='') -%}
    {% if displayed_name == '' %}
        {% set displayed_name = name|capitalize %}
    {% endif %}
    <div class="mb-3">
        <label for="{{ name }}" class="form-label">{{ displayed_name }}</label>
        {% if form.errors[name] %}
            {% set field_class="is-invalid" %}
        {% elif form.is_submited %}
            {% set field_class="is-valid" %}
        {% endif %}
        {% if type == "textarea" %}
            <textarea name="{{ name }}" class="form-control {{ field_class }}"
                      id="{{ name }}" rows="3" placeholder="{{ displayed_name }}"></textarea>
        {% else %}
            <input name="{{ name }}" type="{{ type }}" class="form-control {{ field_class }}"
                   id="{{ name }}" placeholder="{{ displayed_name }}">
        {% endif %}
        {% for error in form.errors[name] %}
            <div class="invalid-feedback" style="display: block">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{%- endmacro %}